<div class="component">
  <div class="row">
    <div class="col s9">
      <div class="center-align"><h4>Candidatos en proceso</h4></div>
      <table class="row-border hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Enviar a finalistas</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let candidato of candidatos">
            <td *ngIf="candidato.state > 0">{{candidato.fullname}}</td>
            <td *ngIf="candidato.state == 1" >
              <a (click)="abrirInscripcion(candidato)"><i class="material-icons aceptar">check</i></a>
              <a (click)="abrirRechazo(candidato)"><i class="material-icons rechazar">clear</i></a>
            </td>
            <td *ngIf="candidato.state == 2">Pendiente de evaluación</td>
            <td *ngIf="candidato.state == 3">Finalista</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Modals -->
    <!-- Modal inscripcion -->
    <div class="modal modal-fixed-footer" style="{ height:200px; }" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalConfirmarInscripcion">
    <div class="modal-content">
      <h5>Confirmar inscripcion</h5>
      <p>¿Desea aceptar a: {{candidato.fullname}} para continuar con el proceso de reclutamiento?</p>
      <div class="center-align">
        <a class="btn waves-effect waves-light" (click)="actualizar(3)">Sí</a>
        <a class="btn waves-effect waves-light" (click)="cerrarInscripcion()">No</a>
      </div>
    </div>
    </div>
    <!-- Modal rechazo -->
    <div class="modal modal-fixed-footer" style="{ height:200px; }" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalConfirmarRechazo">
    <div class="modal-content">
      <h5>Rechazar candidato</h5>
      <p>¿Desea eliminar a {{candidato.fullname}} del proceso de reclutamiento?</p>
      <div class="center-align">
        <a class="btn waves-effect waves-light" (click)="actualizar(0)">Sí</a>
        <a class="btn waves-effect waves-light" (click)="cerrarRechazo()">No</a>
      </div>
    </div>
    </div>
  </div>
</div>
