<div class="component">
  <div class="row">
    <div class="col s9">
      <div class="center-align"><h4>Notas por evaluacion</h4></div>
      <table class="row-border hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
        <thead>
          <tr>
            <th>Candidato</th>
          </tr>
        </thead>
        <tbody>
          <ul class="collapsible" data-collapsible="accordion">
            <li *ngFor="let candidato of candidatos">
              <div class="collapsible-header">
                <p>{{candidato.id}} - {{candidato.fullname}}</p>
              </div>
              <div class="collapsible-body">
                <ul>
                  <li *ngIf="candidato.evaluations.length == 0">
                    <p>No se ha asignado a ninguna evaluación aún</p>
                  </li>
                  <li *ngIf="candidato.evaluations.length != 0">
                    <table>
                      <thead>
                        <tr>
                          <th>Nombre</th>
                          <th>Calificación</th>
                        </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let evaluacion of candidato.evaluations">
                            <td>{{evaluacion.name}}</td>
                            <td *ngIf="evaluacion.grade != 0">{{evaluacion.grade}}</td>
                            <td *ngIf="evaluacion.grade == 0">Pendiente de calificación</td>
                          </tr>
                      </tbody>
                    </table>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </tbody>
      </table>
    </div>
  </div>
</div>
