
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <ul class="title">
        <li><i class="large material-icons">insert_chart</i></li>
        <li><a class="brand-logo center" routerLink="/">Recursos Humanos</a></li>
      </ul>

      <ul class="right">
         <li><a materialize="dropdown" class='dropdown-button'  data-activates='dropdown1'>{{usuario}}<i class="material-icons right">arrow_drop_down</i></a></li>
         <ul id='dropdown1' class='dropdown-content'>
         </ul>
       </ul>

      <a id="toogle_menu" data-activates="slide-out" class="hide-on-large-only"><i class="material-icons">menu</i></a>
    </div>
  </nav>

</div>

<!-- Side nav -->
<ul id="slide-out" class="side-nav fixed">
  <li>
    <a routerLink="/evaluaciones">Evaluaciones</a>
  </li>
  <li>
    <a routerLink="/impuestos">Impuestos</a>
  </li>
  <li>
    <ul>
      <li>
        <a materialize="dropdown" class='dropdown-button'  data-activates='dropdown2'>Candidatos<i class="material-icons right">arrow_drop_down</i></a>
      </li>
      <ul id="dropdown2" class="dropdown-content">
      <li><a>Candidatos</a></li>
        <li><a routerLink="/candidatos">Aceptación de candidatos</a></li>
        <li><a routerLink="/candidatos/reclutamiento">Candidatos en proceso</a></li>
        <li><a routerLink="/candidatos/calificaciones">Calificaciones generales</a></li>
        <li><a routerLink="/candidatos/finalistas">Contratamiento</a></li>
      </ul>
    </ul>
  </li>
  <li>
    <ul>
      <li><a materialize="dropdown" class="dropdown-button" data-activates='dropdown3'>Empleados</a></li>
      <ul id="dropdown3" class="dropdown-content">
        <li><a>Empleados</a></li>
        <li><a routerLink="/empleados/asistencia">Asistencias</a></li>
        <li><a routerLink="/empleados/retiro">Retiro de empleado</a></li>
      </ul>
    </ul>
  </li>
  <li>
    <ul>
      <li><a materialize="dropdown" class="dropdown-button" data-activates='dropdown4'>Planilla</a></li>
      <ul id="dropdown4" class="dropdown-content">
        <li><a>Planilla</a></li>
        <li><a routerLink="/planilla">Consulta de planillas</a></li>
        <li><a routerLink="/prestamo">Prestamos</a></li>
      </ul>
    </ul>
  </li>
</ul>
<!-- /Side nav -->
<router-outlet></router-outlet>
