<div class="component">
  <div class="row">
    <div class="col s9">
      <table class="row-border hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
        <thead>
          <tr>
            <th>Nombre del resumen</th>
            <th>Tipo</th>
            <th>División</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let asistencia of asistencias">
            <td><a [routerLink]="['/empleados/ingreso_asistencia/',asistencia.id]">{{asistencia.name}}</a></td>
            <td>{{asistencia.type}}</td>
            <td>{{asistencia.division}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col s9 right-align">
      <a class="waves-effect waves-light btn" routerLink="/empleados/crear_asistencia/">Crear colección</a>
    </div>
  </div>
</div>
