<div class="component">
  <form #buscar="ngForm" autocomplete="off">
    <div class="row">
      <div class="input-field col s5 offset-s1">
        <input type="text" name="filtro">
        <label for="filtro">Buscar ...</label>
      </div>
    </div>
    <div class="row">
      <div class="col s2 offset-s1">
        <button class="waves-effect waves-light btn">Buscar</button>
      </div>
      <div class="col s2 offset-s5">
        <button class="waves-effect waves-light btn">Importar</button>
      </div>
    </div>
  </form>
  <div class="row">
  </div>
</div>
