<div class="component">
  <div class="row">
    <form #busqueda="ngForm" autocomplete="off">
      <div class="row">
        <div class="input-field col s2 offset-s1">
          <input type="text" class="validate" name="codigo" [(ngModel)]="empleado.code" required>
          <label for="codigo">Código de empleado:</label>
        </div>
        <div id="buscar" class="col s2 offset-s2">
          <button class="waves-effect waves-light btn" (click)="consultarEmpleado()">Buscar</button>
        </div>
      </div>
      <div class="row">
        <div class="col s3 offset-s1">
          <p>Empleado: {{empleado.fullname}}</p>
        </div>
      </div>
    </form>
  </div>
  <form #retiroEmpleado="ngForm" autocomplete="off">
    <div class="row">
      <div class="col s2 offset-s1">
        <input type="radio" name="tipo" [value]="true" [(ngModel)]="despido" id="radio1" required>
        <label for="radio1">Despido</label>
      </div>
      <div class="col s2 offset-s1">
        <input type="radio" name="tipo" [value]="false" [(ngModel)]="despido" id="radio2" required>
        <label for="radio2">Retiro</label>
      </div>
    </div>
    <div class="row">
      <div class="col s10 offset-s1">
        <div class="input-field col s3 offset-1">
          <p>Fecha salida</p>
          <input type="date" name="final" [(ngModel)]="retiro.dateOut" required>
        </div>
        <div class="col s3 offset-s2">
          <br>
          <br>
          <p>Fecha de ingreso {{retiro.dateIn}}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s3 offset-s1">
        <p>Salario: ${{retiro.salario}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col s3 offset-s1">
        <p>Total: $ {{retiro.total}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col s3 offset-s3">
        <button class="waves-effect waves-light btn" (click)="abrir()" [disabled]="!retiroEmpleado.form.valid">Confirmar retiro</button>
      </div>
    </div>
  </form>
</div>
<!--Modal-->
<div class="modal modal-fixed-footer" style="{ height:200px; }" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalConfirmar">
<div class="modal-content">
  <h5>Ralizar acción</h5>
  <p>¿Desea registrar el {{accion}} de {{empleado.fullname}}?</p>
  <div class="center-align">
    <a class="btn waves-effect waves-light" (click)="registrarAccion()">Sí</a>
    <a class="btn waves-effect waves-light" (click)="cerrar()">No</a>
  </div>
</div>
</div>
